<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).briefings.refresh</string>
	</array>

	<key>BACKEND_AUTH_TOKEN</key>
	<string>$(INFOPLIST_KEY_BACKEND_AUTH_TOKEN)</string>
	<key>BACKEND_BASE_URL</key>
	<string>$(INFOPLIST_KEY_BACKEND_BASE_URL)</string>
	<key>GUARDIAN_API_BASE_URL</key>
	<string>$(INFOPLIST_KEY_GUARDIAN_API_BASE_URL)</string>
	<key>GUARDIAN_API_KEY</key>
	<string>$(INFOPLIST_KEY_GUARDIAN_API_KEY)</string>
	<key>NEWSCATCHER_API_BASE_URL</key>
	<string>$(INFOPLIST_KEY_NEWSCATCHER_API_BASE_URL)</string>
	<key>NEWSCATCHER_API_KEY</key>
	<string>$(INFOPLIST_KEY_NEWSCATCHER_API_KEY)</string>
	<key>NEWSDATA_API_BASE_URL</key>
	<string>$(INFOPLIST_KEY_NEWSDATA_API_BASE_URL)</string>
	<key>NEWSDATA_API_KEY</key>
	<string>$(INFOPLIST_KEY_NEWSDATA_API_KEY)</string>
	<key>NEWS_API_BASE_URL</key>
	<string>$(INFOPLIST_KEY_NEWS_API_BASE_URL)</string>
	<key>NEWS_API_COUNTRY</key>
	<string>$(INFOPLIST_KEY_NEWS_API_COUNTRY)</string>
	<key>NEWS_API_KEY</key>
	<string>$(INFOPLIST_KEY_NEWS_API_KEY)</string>
	<key>NEWS_API_LANGUAGE</key>
	<string>$(INFOPLIST_KEY_NEWS_API_LANGUAGE)</string>
	<key>THENEWSAPI_API_KEY</key>
	<string>$(INFOPLIST_KEY_THENEWSAPI_API_KEY)</string>
	<key>THENEWSAPI_BASE_URL</key>
	<string>$(INFOPLIST_KEY_THENEWSAPI_BASE_URL)</string>
</dict>
</plist>
